In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn import datasets

iris = sns.load_dataset("iris")
#iris= datasets.load_iris()

In [2]:
import random

In [9]:
#setosa dataset
df=iris.copy()
df["type"]=df.apply(lambda r : random.choice(["Tall","Short","River"]),axis=1)
df=df.reset_index()
df

     index  sepal_length  sepal_width  ...  petal_width    species   type
0        0           5.1          3.5  ...          0.2     setosa  Short
1        1           4.9          3.0  ...          0.2     setosa  Short
2        2           4.7          3.2  ...          0.2     setosa  River
3        3           4.6          3.1  ...          0.2     setosa  River
4        4           5.0          3.6  ...          0.2     setosa  Short
..     ...           ...          ...  ...          ...        ...    ...
145    145           6.7          3.0  ...          2.3  virginica  River
146    146           6.3          2.5  ...          1.9  virginica  River
147    147           6.5          3.0  ...          2.0  virginica  River
148    148           6.2          3.4  ...          2.3  virginica  Short
149    149           5.9          3.0  ...          1.8  virginica  River

[150 rows x 7 columns]

In [15]:

dfp=pd.pivot_table(df, index='species',columns="type",values="index",aggfunc=len).reset_index()
dfp

type     species  River  Short  Tall
0         setosa     18     16    16
1     versicolor     17     17    16
2      virginica     25     14    11

In [16]:
dfp.columns=[x[1] for x in dfp.columns ]
dfp

TypeError: 'Index' object is not callable