In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta
from pandas import Timestamp
import csv
from pandas.api.types import is_datetime64_any_dtype as is_datetime

In [2]:
custom_date_parser=lambda dates: [ datetime.strptime(str(d), "%Y-%m-%d") for d in dates]  
# for datetime "%Y-%m-%d %H:%M:%S"
dfraw = pd.read_csv('data.csv', quoting=csv.QUOTE_NONNUMERIC,quotechar='"',sep = ',', header = 0, index_col = None)
dfraw["date_trans"]=pd.to_datetime(dfraw["date_trans"],format="%Y-%m-%d")
dfraw

     id         ref date_trans     status  amount
0   1.0  INV-220001 2022-01-01       OPEN   35.94
1   2.0  INV-220002 2022-01-02       OPEN   99.99
2   3.0  INV-220003 2022-01-03  CANCELLED   13.00
3   4.0  INV-220003 2022-01-04       OPEN     NaN
4   5.0  INV-220005 2022-01-04       OPEN  204.20
5   6.0  INV-220006 2022-01-15       OPEN   -4.20
6   7.0         NaN 2022-01-06        NaN    0.00
7   8.0  INV-220007 2022-01-15    PENDING   50.40
8   9.0         NaN        NaT      ERROR    0.00
9  10.0  INV-220007 2022-01-15    PENDING   50.40

In [3]:
def dataframe_to_code(df):
    data = np.array2string(df.to_numpy(), separator=', ')
    data = data.replace(" nan", " float('nan')")
    data = data.replace(" NaT", " pd.NaT")

    cols = df.columns.tolist()
    return f"""df = pd.DataFrame({data}, columns={cols})"""
#print(dataframe_to_code(dfraw))
#use this to create the code for dataframes