In [2]:
import pandas as pd
import numpy as np
import pydit

In [3]:
d1 = {
        "Mkey": [1, 2, 3,4],
        "Mvalue": ["a","b","c","d"]
    }
d2 = {
        "Tkey": [100, 101, 102,103,104,105,106],
        "Mkey": [1,1,1,2,3,3,5],
        "Tvalue": [10.12,20.4,33.3,45,59.99,60,-1]
    }

df1 = pd.DataFrame(data=d1)
df2= pd.DataFrame(data=d2)

In [5]:
df=pd.DataFrame({"a": [1, np.nan, 3], "b": [2, 3, 1], "c": [2, np.nan, 9]})
pydit.coalesce_columns(df, "a", "b", target_column_name="new_name")

     a  b    c  new_name
0  1.0  2  2.0       1.0
1  NaN  3  NaN       3.0
2  3.0  1  9.0       3.0

In [6]:
pydit.deduplicate_list([1,2,3,3,3,3])

['1', '2', '3', '3_2', '3_3', '3_4']