In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta
from pandas import Timestamp
import csv
from pandas.api.types import is_datetime64_any_dtype as is_datetime

In [3]:
custom_date_parser=lambda dates: [ datetime.strptime(str(d), "%Y-%m-%d") for d in dates]  
# for datetime "%Y-%m-%d %H:%M:%S"
dfraw = pd.read_csv('./demo_data/data.csv', quoting=csv.QUOTE_NONNUMERIC,quotechar='"',sep = ',', header = 0, index_col = None)
dfraw["date_trans"]=pd.to_datetime(dfraw["date_trans"],format="%Y-%m-%d")
dfraw

      id         ref date_trans     status  amount      stage  status_code
0    1.0  INV-220001 2022-01-01       OPEN   35.94       PAID          1.0
1    2.0  INV-220002 2022-01-02     CLOSED   99.99       FULF          4.0
2    3.0  INV-220003 2022-01-03  CANCELLED   13.00  CANCELLED         99.0
3    4.0  INV-220003 2022-01-04       OPEN     NaN       CART          1.0
4    5.0  INV-220005 2022-01-04     CLOSED  204.20       FULF          4.0
5    6.0  INV-220006 2022-01-15       OPEN   -4.20          1          NaN
6    7.0         NaN 2022-01-06        NaN    0.00        NaN          NaN
7    8.0  INV-220007 2022-01-15    PENDING   50.40      ORDER          2.0
8    9.0         NaN        NaT      ERROR    0.00        NaN          NaN
9   10.0  INV-220007 2022-01-15    PENDING   50.40      ORDER          2.0
10  11.0  INV-220008 2022-01-16    PENDING   50.40      ORDER          2.0
11  12.0  INV-220009 2022-01-16     CLOSED   50.40      ORDER          4.0
12  13.0  INV-220010 2022-01-16       OPEN   50.40      ORDER          2.0
13  14.0  INV-220011 2022-01-17       OPEN   50.40      ORDER          2.0
14  15.0  INV-220012 2022-01-17       OPEN   50.40      ORDER          2.0

In [4]:
def dataframe_to_code(df):
    data = np.array2string(df.to_numpy(), separator=', ')
    data = data.replace(" nan", " float('nan')")
    data = data.replace(" NaT", " pd.NaT")

    cols = df.columns.tolist()
    return f"""df = pd.DataFrame({data}, columns={cols})"""
#print(dataframe_to_code(dfraw))
#use this to create the code for dataframes

In [5]:
df = pd.DataFrame([
    [1, 'INV-220001', Timestamp('2022-01-01 00:00:00'), 'OPEN', 35.94,''],
    [2, 'INV-220002', Timestamp('2022-01-02 00:00:00'), 'OPEN', 99.99,'-5'],
    [3, 'INV-220003', Timestamp('2022-01-03 00:00:00'), 'CANCELLED', 13.0,'reinbursed 10.5'],
    [4, 'INV-220003', Timestamp('2022-01-04 00:00:00'), 'OPEN', float('nan'),''],
    [5, 'INV-220005', Timestamp('2022-01-04 00:00:00'), 'OPEN', 204.2,''],
    [6, 'INV-220006', Timestamp('2022-01-15 00:00:00'), 'OPEN', -4.2,'discount'],
    [7, float('nan'), Timestamp('2022-01-06 00:00:00'), float('nan'), 0.0,''],
    [8, 'INV-220007', Timestamp('2022-01-15 00:00:00'), 'PENDING', 50.4,''],
    [9, '', pd.NaT, 'ERROR', 0.0,''],
    [10, 'INV-220007', Timestamp('2022-01-15 00:00:00'), 'PENDING', 50.4,'']], 
    columns=['id', 'ref', 'date_trans', 'status', 'amount','notes'])
df

   id         ref date_trans     status  amount            notes
0   1  INV-220001 2022-01-01       OPEN   35.94
1   2  INV-220002 2022-01-02       OPEN   99.99               -5
2   3  INV-220003 2022-01-03  CANCELLED   13.00  reinbursed 10.5
3   4  INV-220003 2022-01-04       OPEN     NaN
4   5  INV-220005 2022-01-04       OPEN  204.20
5   6  INV-220006 2022-01-15       OPEN   -4.20         discount
6   7         NaN 2022-01-06        NaN    0.00
7   8  INV-220007 2022-01-15    PENDING   50.40
8   9                    NaT      ERROR    0.00
9  10  INV-220007 2022-01-15    PENDING   50.40